HELP.md
target/
/server/mvn/wrapper/maven-wrapper.jar
/server/target

server/logs/
*.log

docker/

### NetBeans ###
/server/nbproject/private/
/server/nbbuild/
/server/dist/
/server/nbdist/
/server/.nb-gradle/
/serverbuild/
