<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LawForms</title>
        <link th:href="@{/css/mainstyles.css}" rel="stylesheet" />        
    </head>
    <body>

        <header>
            Law Forms
        </header>

        <section style="margin: 0; padding: 0;">

            <nav style="margin: 0; padding: 0;">
                <ul>
                    <li class="general-design"><a th:href="@{/index.html}">| Домой</a></li>
                    <li class="general-design"><a th:href="@{/contacts.html}">| Контакты</a></li>
                </ul>
            </nav>

            <section class="form-text">

                <img src="@{scroll_512.png}"/>

                <h1>Торжественная клятва</h1>

                <p> Настоящим, Я раб божий <b><span th:text="${name}" /></b> 
                    урождённый от Рождества Христова <b><span th:text="${birthday}" /></b>,
                    вступая в ряды Всесоюзной Пионерской Организации имени Владимира Ильича Ленина, 
                    перед лицом своих товарищей торжественно обещаю: горячо любить свою 
                    Родину (<b><span th:text="${birthPlace}" /></b>). Жить, учиться и бороться, как завещал великий Ленин, 
                    как учит Коммунистическая партия. Свято соблюдать Законы Пионерии Советского Союза.
                </p>


                <h3>Законы пионеров Советского Союза:</h3>
                <ul>
                    <li><i>Пионер предан Родине, партии, коммунизму</i></li>
                    <li><i>Пионер готовится стать комсомольцем</i></li>
                    <li><i>Пионер чтит память погибших борцов и готовится стать защитником Отечества</i></li>
                    <li><i>Пионер лучший в учебе, труде и спорте</i></li>
                    <li><i>Пионер - честный и верный товарищ, всегда смело стоящий за правду</i></li>
                    <li><i>Пионер - товарищ и вожатый октябрят</i></li>
                    <li><i>Пионер - друг пионерам и детям трудящихся всех стран</i></li>
                </ul>

                <p>Получено: <b><span th:text="${amount}"/>&#x20BF;</b></p>

                <p/>
                <p>Дата:<span th:text="${today}" /></p>

                <p>Подпись:</p>

                <p/>Фотография 3x4 прилагается:
                <p/>
                <img th:src="@{'data:image/jpeg;base64,'+${pictureData}}" width="200" height="200" alt="Моё фото 3x4"/>

                <p/>Источники: 
                <p>1. 
                    <a href="https://ru.wikipedia.org/wiki/%D0%92%D1%81%D0%B5%D1%81%D0%BE%D1%8E%D0%B7%D0%BD%D0%B0%D1%8F_%D0%BF%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D1%8F_%D0%BE%D1%80%D0%B3%D0%B0%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F_%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8_%D0%92._%D0%98._%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0">
                        Всесоюзная пионерская организация имени В. И. Ленина
                    </a>
                </p>

            </section>
        </section>
    </body>
</html>