<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LawForms</title>
    </head>
    <body>

        <section class="form-text" th:fragment="formbody">

            <h4 style="text-align: center; max-width: 620px">
                Договор купли-продажи автомобиля (между физическими лицами)
            </h4>

            <p style="text-align: center; max-width: 620px" > 
                <b><span th:text="${formParams.venue}" /></b> 
                <b><span th:text="${formParams.formattedDealDate()}" /></b>
            </p>

            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                Гражданин РФ <b><span th:text="${formParams.seller.getFIO()}" /></b> , 
                <b><span th:text="${formParams.seller.formattedBirthday()}"/></b> года рождения, 
                паспорт <b><span th:text="${formParams.sellerPassport.getFullPassportNum()}"/></b>, 
                выдан <b><span th:text="${formParams.sellerPassport.issuer}"/></b>, 
                дата выдачи <b><span th:text="${formParams.sellerPassport.formattedIssued()}"/></b>,
                код подразделения <b><span th:text="${formParams.sellerPassport.issuerDepartmentCode}"/></b>, 
                проживающий по адресу: <b><span th:text="${formParams.sellerPassport.currentAddress}"/></b>, 
                именуемый в дальнейшем "Продавец", с одной стороны и
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                гражданин РФ <b><span th:text="${formParams.buyer.getFIO()}" /></b> , 
                <b><span th:text="${formParams.buyer.formattedBirthday()}"/></b> года рождения, 
                паспорт <b><span th:text="${formParams.buyerPassport.getFullPassportNum()}"/></b>, 
                выдан <b><span th:text="${formParams.buyerPassport.issuer}"/></b>, 
                дата выдачи <b><span th:text="${formParams.buyerPassport.formattedIssued()}"/></b>,
                код подразделения <b><span th:text="${formParams.buyerPassport.issuerDepartmentCode}"/></b>, 
                проживающий по адресу: <b><span th:text="${formParams.buyerPassport.currentAddress}"/></b>, 
                именуемый в дальнейшем "Продавец", с одной стороны и
            </p>

            <h4 style="text-align:center ; max-width: 620px">
                1. Предмет договора
            </h4>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                1.1. Продавец обязуется передать в собственность Покупателя, а Покупатель обязуется принять и оплатить транспортное средство (далее - Автомобиль).
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                1.2. Технические характеристики транспортного средства:
            </p>
            <ul>
                <li>марка, модель транспортного средства: <b><span th:text="${formParams.vehicleTechData.model}"/></b>;</li>
                <li>государственный номер: <b><span th:text="${formParams.vehicleTechData.numberOfStateRegistration}"/></b>;</li>
                <li>идентификационный номер (VIN): <b><span th:text="${formParams.vehicleTechData.vin}"/></b>;</li>
                <li>наименование (тип транспортного средства): <b><span th:text="${formParams.vehicleTechData.name}"/></b>;</li>
                <li>категория транспортного средства: <b><span th:text="${formParams.vehicleTechData.category.name()}"/></b>;</li>
                <li>год изготовления транспортного средства: <b><span th:text="${formParams.vehicleTechData.yearOfIssuing}"/></b>;</li>
                <li>модель, номер двигателя: <b><span th:text="${formParams.vehicleTechData.engineModel}"/></b>;</li>
                <li>шасси (рама) номер: <b><span th:text="${formParams.vehicleTechData.chassis}"/></b>;</li>
                <li>кузов (кабина, прицеп) номер: <b><span th:text="${formParams.vehicleTechData.bodyNumber}"/></b>;</li>
                <li>цвет кузова: <b><span th:text="${formParams.vehicleTechData.bodyColor}"/></b>;</li>
                <li>мощность двигателя: <b><span th:text="${formParams.vehicleTechData.enginePower}"/></b>;</li>
                <li>рабочий объем двигателя: <b><span th:text="${formParams.vehicleTechData.engineVolume}"/></b>;</li>
                <li>тип двигателя: <b><span th:text="${formParams.vehicleTechData.engineType}"/></b>;</li>
                <li>паспорт транспортного средства: <b><span th:text="${formParams.vehicleTechData.vehiclePassport}"/></b>;</li>
                <li>наименование организации, выдавшей паспорт: <b><span th:text="${formParams.vehicleTechData.vehiclePassportIssuer}"/></b>.</li>
            </ul>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                1.3. По согласованию Сторон стоимость автомобиля составляет: <b><span th:text="${formParams.price}"/></b> <b><span th:text="${formParams.priceText}"/></b> рублей.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                1.4. На момент продажи автомобиль не продан, не заложен, свободен от любых прав третьих лиц и иных обременений.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" th:if="${formParams.immidiateTransfer}">
                1.5. Автомобиль передается в момент подписания настоящего договора купли-продажи.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" th:if="${not formParams.immidiateTransfer}">
                1.5. Передача автомобиля Покупателю осуществляется в течение <b><span th:text="${formParams.daysForTransfer}"/></b> дней после подписания настоящего договора.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                1.6. Риск случайной гибели или случайного повреждения автомобиля переходит на Покупателя с момента его передачи Продавцом Покупателю.
            </p>

            <h4 style="text-align:center ; max-width: 620px">
                2. Обязанности сторон договора
            </h4>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                2.1. Продавец обязан:
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                2.1.1. Передать Покупателю автомобиль, годным к эксплуатации, в исправном техническом состоянии, в порядке и в сроки, определенные в договоре.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                2.1.2. Передать Покупателю одновременно с передачей автомобиля его принадлежности и техническую документацию на него.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                2.1.3. Принять произведенную Покупателем оплату.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                2.2. Покупатель обязан:
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                2.2.1. Оплатить автомобиль по цене и в срок, установленные п.п. 1.3., 3.1. настоящего договора.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                2.2.2. Принять автомобиль в порядке, предусмотренном п. 1.5. настоящего договора.
            </p>

            <h4 style="text-align:center ; max-width: 620px">
                3. Порядок оплаты
            </h4>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" th:if="${formParams.immidiatePayment}"> 
                3.1. Покупатель оплачивает стоимость автомобиля, установленную п. 1.3. настоящего договора, в момент подписания настоящего договора путем перечисления денежных средств на банковский счет Продавца либо наличными денежными средствами
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" th:if="${not formParams.immidiatePayment}"> 
                3.1. Покупатель оплачивает стоимость автомобиля, установленную п. 1.3. настоящего договора, в течение <b><span th:text="${formParams.daysForPayment}"/></b> дней после подписания настоящего договора путем перечисления денежных средств на банковский счет Продавца либо наличными денежными средствами.
            </p>

            <h4 style="text-align:center ; max-width: 620px">
                4. Ответственность сторон
            </h4>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                4.1. В случае неисполнения или ненадлежащего исполнения своих обязательств по настоящему договору Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                4.2. При изъятии автомобиля у Покупателя третьими лицами по основаниям, возникшим до исполнения настоящего договора, Продавец обязан возместить Покупателю понесенные им убытки, если не докажет, что Покупатель знал или должен был знать о наличии этих оснований.
            </p>

            <h4 style="text-align:center ; max-width: 620px">
                5. Порядок разрешения споров
            </h4>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                5.1. Споры и разногласия, которые могут возникнуть при исполнении настоящего договора, будут по возможности разрешаться путем переговоров между Сторонами.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                5.2. В случае, если Стороны не придут к соглашению, споры разрешаются в судебном порядке в соответствии с действующим законодательством Российской Федерации.
            </p>

            <h4 style="text-align:center ; max-width: 620px">
                6. Заключительные положения
            </h4>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                6.1. Настоящий договор составлен в трех экземплярах, имеющих одинаковую юридическую силу, по одному экземпляру для каждой из Сторон и один экземпляр для представления в орган государственной власти, осуществлявший регистрацию транспортного средства.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                6.2. Договор вступает в силу с момента подписания и действует до полного выполнения обязательств по данному договору.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                6.3. Односторонний отказ от исполнения настоящего договора допускается в случае существенного нарушения договора одной из сторон.
            </p>
            <p style="text-indent: 20px; margin: 20px; text-align: justify; max-width: 620px" > 
                6.4. Все изменения и дополнения оформляются дополнительными соглашениями Сторон в письменной форме, которые являются неотъемлемой частью настоящего договора.
            </p>

            <h4 style="text-align:center ; max-width: 620px">
                7. Подписи сторон
            </h4>
            <p/>
            <p style="text-indent: 20px; margin: 20px; text-align: left; max-width: 620px" > 
                Продавец <b><span th:text="${formParams.seller.getShortFIO()}" /></b> ___________________
            </p>
            <p style="text-indent: 100px; margin: 20px; text-align: left; max-width: 620px" > 
                <b style="margin: 50px; font-size: small">подпись</b>
            </p>
            <p/>
            <p style="text-indent: 20px; margin: 20px; text-align: left; max-width: 620px" > 
                Покупатель <b><span th:text="${formParams.buyer.getShortFIO()}" /></b> ___________________
            </p>
            <p style="text-indent: 100px; margin: 20px; text-align: left; max-width: 620px" > 
                <b style="margin: 50px; font-size: small">подпись</b>
            </p>

        </section>

    </body>
</html>