<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LawForms</title>
        <link th:href="@{/css/mainstyles.css}" rel="stylesheet" />
    </head>

    <body>
        <header>
            Law Forms
        </header>

        <section style="margin: 0; padding: 0;">

            <nav style="margin: 0; padding: 0;">
                <ul>
                    <li class="general-design"><a th:href="@{/index.html}">| Домой</a></li>
                    <li class="general-design"><a th:href="@{/contacts.html}">| Контакты</a></li>
                </ul>
            </nav>

            <section class="form-parameters">

                <h1>Договор купли-продажи автомобиля (между физическими лицами)</h1>
                <h2>Шаг 2 из 5. Продавец</h2>

                <form 
                    enctype="multipart/form-data"
                    th:method="POST"
                    th:object="${formParams}"                    
                    th:action="@{/form/naturalperson/agreement/autodeal/seller_params}">

                    <p/>
                    <label>Фамилия</label>
                    <input type="text" th:field="*{seller.lastName}"/>
                    
                    <p/>
                    <label>Имя</label>
                    <input type="text" th:field="*{seller.firstName}"/>
                    
                    <p/>
                    <label>Отчество</label>
                    <input type="text" th:field="*{seller.middleName}"/>
                    
                    <p/>
                    <label>Дата рождения</label>
                    <input type="date" th:field="*{seller.birthday}"/>
                    
                    <p/>
                    <label>Серия, номер паспорта</label>
                    <input type="text" th:field="*{sellerPassport.firstSerialNum}" pattern="\d{2}" size="2"/>-
                    <input type="text" th:field="*{sellerPassport.secondSerialNum}" pattern="\d{2}" size="2"/>-
                    <input type="text" th:field="*{sellerPassport.number}" pattern="\d{6}" size="6"/>
                    
                    <p/>
                    <label>Дата выдачи паспорта</label>
                    <input type="date" th:field="*{sellerPassport.issued}"/>

                    <p/>
                    <label>Кем выдан</label>
                    <input type="text" th:field="*{sellerPassport.issuer}"/>

                    <p/>
                    <label>Код подразделения</label>
                    <input type="text" th:field="*{sellerPassport.issuerDepartmentCode}"/>

                    <p/>
                    <label>Адрес проживания (по паспорту)</label>
                    <input type="text" th:field="*{sellerPassport.currentAddress}"/>

                    <p/>
                    <input type="submit" value="Назад" name="_prev" />                    
                    <input type="submit" value="Далее" name="_next"/>

                </form>

            </section>
        
        </section>

        <footer>

        </footer>

    </body>

</html>
